body {
    font-family: "Times New Roman", Georgia, Serif !important;
}
.hover-box {
    position: relative;
    display: inline-block;
}

.hover-box::after {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px; /* Adjust as needed */
    left: 0;
    width: 100%;
    height: 35px; /* Adjust the thickness of the line */
    background-color: transparent; /* Initially transparent */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.hover-box:hover::after {
    background-color: #a9a5a5; 
}

.card-text {
    padding: 12px 24px !important;
}